USE [master]
GO
/****** Object:  Database [Kvanja_IoT]    Script Date: 4/25/2022 6:24:26 PM ******/
CREATE DATABASE [Kvanja_IoT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kvanja_IoT', FILENAME = N'/var/opt/mssql/data/Kvanja_IoT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kvanja_IoT_log', FILENAME = N'/var/opt/mssql/data/Kvanja_IoT_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kvanja_IoT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kvanja_IoT]
GO
USE [Kvanja_IoT]
GO
/****** Object:  Sequence [dbo].[SEQ_USERS_ID]    Script Date: 4/25/2022 6:24:27 PM ******/
CREATE SEQUENCE [dbo].[SEQ_USERS_ID] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 99999999
 CACHE  20 
GO
/****** Object:  Table [dbo].[BUILDINGS]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUILDINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[STREET] [nvarchar](50) NOT NULL,
	[STREET_NUMBER] [int] NOT NULL,
	[COUNTRY] [nvarchar](50) NOT NULL,
	[CITY] [nvarchar](50) NOT NULL,
	[ZIP_CODE] [int] NOT NULL,
	[LOCATION] [varchar](50) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_BUILDINGS_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVICES]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROOM_ID] [int] NOT NULL,
	[IS_CONTROL_DEVICE] [bit] NOT NULL,
	[IS_CONTROL_ON] [bit] NOT NULL,
	[IS_DEVICE_ACTIVE] [bit] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_DEVICES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLOORS]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLOORS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BUILDING_ID] [int] NOT NULL,
	[FLOOR] [int] NOT NULL,
	[DEVICES] [int] NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_FLOORS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HEATING_HISTORY]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEATING_HISTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[MEASUREMENT_UNIT_ID] [int] NOT NULL,
	[DATE] [date] NOT NULL,
	[TIME_FROM] [time](0) NOT NULL,
	[TIME_TO] [time](0) NULL,
	[CURRENT_TEMPERATURE] [decimal](5, 2) NOT NULL,
	[DESIRED_TEMPERATURE] [decimal](5, 2) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_HEATING_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HUMIDITIES]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUMIDITIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[HUMIDITY] [decimal](5, 2) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
 CONSTRAINT [PK_HUMIDITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGES]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LANGUAGE] [varchar](50) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_LANGUAGES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEASUREMENT_UNITS]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEASUREMENT_UNITS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIT] [varchar](50) NOT NULL,
	[UNIT_DESCRIPTION] [varchar](50) NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_MEASUREMENT_UNITS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMS]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FLOOR_ID] [int] NOT NULL,
	[ROOM_NAME] [nvarchar](50) NULL,
	[DEVICES] [int] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_ROOMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMPERATURES]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPERATURES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[MEASUREMENT_UNIT_ID] [int] NOT NULL,
	[IN_TEMPERATURE] [decimal](5, 2) NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
 CONSTRAINT [PK_TEMPERATURES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSLATIONS]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSLATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LANGUAGE_ID] [int] NOT NULL,
	[FIELD_ID] [int] NOT NULL,
	[TRANSLATION] [nvarchar](150) NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_TRANSLATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_DEVICES]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DEVICES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[GENDER] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[BIRTH_DATE] [date] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS_SETTINGS]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_SETTINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[LANGUAGE_ID] [int] NOT NULL,
	[THEME_ID] [int] NOT NULL,
	[TEMP_MEASUREMENT_UNIT_ID] [int] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_USERS_SETTINGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WEEKLY_INTERVALS]    Script Date: 4/25/2022 6:24:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEEKLY_INTERVALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[DEVICE_ID] [int] NOT NULL,
	[DAY_ID] [int] NOT NULL,
	[TIME_FROM] [time](7) NOT NULL,
	[TIME_TO] [time](7) NOT NULL,
	[DESIRED_TEMPERATURE] [decimal](5, 2) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[CREATED] [datetime] NOT NULL,
	[UPDATED] [datetime] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[UPDATED_BY] [int] NOT NULL,
 CONSTRAINT [PK_WEEKLY_INTERVALS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BUILDINGS] ON 

INSERT [dbo].[BUILDINGS] ([ID], [NAME], [STREET], [STREET_NUMBER], [COUNTRY], [CITY], [ZIP_CODE], [LOCATION], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (1, N'Kuća', N'Eugena Kumičića', 14000, N'Hrvatska', N'Bjelovar', 43000, N'45.89861 16.84889', CAST(N'2021-08-10T11:21:17.693' AS DateTime), CAST(N'2021-08-10T11:21:17.693' AS DateTime), 1, 1)
INSERT [dbo].[BUILDINGS] ([ID], [NAME], [STREET], [STREET_NUMBER], [COUNTRY], [CITY], [ZIP_CODE], [LOCATION], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (2, N'Vikendica', N'Istarska', 3, N'Hrvatska', N'Bjelovar', 43000, N'45.89861 16.84889', CAST(N'2021-08-12T13:59:27.623' AS DateTime), CAST(N'2021-08-12T13:59:27.623' AS DateTime), 1, 1)
INSERT [dbo].[BUILDINGS] ([ID], [NAME], [STREET], [STREET_NUMBER], [COUNTRY], [CITY], [ZIP_CODE], [LOCATION], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (3, N'Vikendica', N'Ul. bruna bušića', 14, N'Hrvatska', N'Bjelovar', 43000, N'45.89861 16.84889', CAST(N'2021-08-12T14:14:32.193' AS DateTime), CAST(N'2021-08-12T14:14:32.193' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[BUILDINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[DEVICES] ON 

INSERT [dbo].[DEVICES] ([ID], [ROOM_ID], [IS_CONTROL_DEVICE], [IS_CONTROL_ON], [IS_DEVICE_ACTIVE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (1, 1, 1, 0, 1, CAST(N'2021-08-11T09:49:33.813' AS DateTime), CAST(N'2021-08-11T09:49:33.813' AS DateTime), 1, 1)
INSERT [dbo].[DEVICES] ([ID], [ROOM_ID], [IS_CONTROL_DEVICE], [IS_CONTROL_ON], [IS_DEVICE_ACTIVE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (2, 1, 1, 0, 1, CAST(N'2021-08-11T09:57:12.090' AS DateTime), CAST(N'2021-08-11T09:57:12.090' AS DateTime), 1, 1)
INSERT [dbo].[DEVICES] ([ID], [ROOM_ID], [IS_CONTROL_DEVICE], [IS_CONTROL_ON], [IS_DEVICE_ACTIVE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (3, 1, 0, 0, 0, CAST(N'2021-08-11T09:58:25.370' AS DateTime), CAST(N'2021-08-11T09:58:25.370' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[DEVICES] OFF
GO
SET IDENTITY_INSERT [dbo].[FLOORS] ON 

INSERT [dbo].[FLOORS] ([ID], [BUILDING_ID], [FLOOR], [DEVICES], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (1, 1, 1, 1, CAST(N'2021-08-10T15:57:41.470' AS DateTime), CAST(N'2021-08-10T15:57:41.470' AS DateTime), 1, 1)
INSERT [dbo].[FLOORS] ([ID], [BUILDING_ID], [FLOOR], [DEVICES], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (2, 1, 2, 1, CAST(N'2021-08-10T16:05:20.390' AS DateTime), CAST(N'2021-08-10T16:05:20.390' AS DateTime), 1, 1)
INSERT [dbo].[FLOORS] ([ID], [BUILDING_ID], [FLOOR], [DEVICES], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (3, 1, 3, 1, CAST(N'2021-08-10T16:05:25.390' AS DateTime), CAST(N'2021-08-10T16:05:25.390' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[FLOORS] OFF
GO
SET IDENTITY_INSERT [dbo].[HEATING_HISTORY] ON 

INSERT [dbo].[HEATING_HISTORY] ([ID], [USER_ID], [DEVICE_ID], [MEASUREMENT_UNIT_ID], [DATE], [TIME_FROM], [TIME_TO], [CURRENT_TEMPERATURE], [DESIRED_TEMPERATURE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (2, 1, 26, 2, CAST(N'2021-08-19' AS Date), CAST(N'09:27:00' AS Time), CAST(N'15:08:25' AS Time), CAST(27.63 AS Decimal(5, 2)), CAST(24.00 AS Decimal(5, 2)), CAST(N'2021-08-19T09:26:59.710' AS DateTime), CAST(N'2021-08-19T09:26:59.710' AS DateTime), 1, 1)
INSERT [dbo].[HEATING_HISTORY] ([ID], [USER_ID], [DEVICE_ID], [MEASUREMENT_UNIT_ID], [DATE], [TIME_FROM], [TIME_TO], [CURRENT_TEMPERATURE], [DESIRED_TEMPERATURE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (3, 1, 26, 2, CAST(N'2021-08-19' AS Date), CAST(N'13:47:49' AS Time), CAST(N'15:08:25' AS Time), CAST(27.63 AS Decimal(5, 2)), CAST(18.00 AS Decimal(5, 2)), CAST(N'2021-08-19T13:47:48.810' AS DateTime), CAST(N'2021-08-19T13:47:48.810' AS DateTime), 1, 1)
INSERT [dbo].[HEATING_HISTORY] ([ID], [USER_ID], [DEVICE_ID], [MEASUREMENT_UNIT_ID], [DATE], [TIME_FROM], [TIME_TO], [CURRENT_TEMPERATURE], [DESIRED_TEMPERATURE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (4, 1, 26, 2, CAST(N'2021-08-19' AS Date), CAST(N'13:48:46' AS Time), CAST(N'15:08:25' AS Time), CAST(27.63 AS Decimal(5, 2)), CAST(18.00 AS Decimal(5, 2)), CAST(N'2021-08-19T13:48:46.243' AS DateTime), CAST(N'2021-08-19T13:48:46.243' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[HEATING_HISTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[HUMIDITIES] ON 

INSERT [dbo].[HUMIDITIES] ([ID], [DEVICE_ID], [HUMIDITY], [CREATED], [UPDATED]) VALUES (1, 1, CAST(36.63 AS Decimal(5, 2)), CAST(N'2021-08-11T18:41:49.217' AS DateTime), CAST(N'2021-08-11T18:41:49.217' AS DateTime))
INSERT [dbo].[HUMIDITIES] ([ID], [DEVICE_ID], [HUMIDITY], [CREATED], [UPDATED]) VALUES (2, 1, CAST(35.88 AS Decimal(5, 2)), CAST(N'2021-08-11T18:55:43.300' AS DateTime), CAST(N'2021-08-11T18:55:43.300' AS DateTime))
INSERT [dbo].[HUMIDITIES] ([ID], [DEVICE_ID], [HUMIDITY], [CREATED], [UPDATED]) VALUES (3, 1, CAST(35.51 AS Decimal(5, 2)), CAST(N'2021-08-11T18:55:48.453' AS DateTime), CAST(N'2021-08-11T18:55:48.453' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[HUMIDITIES] OFF
GO
SET IDENTITY_INSERT [dbo].[LANGUAGES] ON 

INSERT [dbo].[LANGUAGES] ([ID], [LANGUAGE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (3, N'English', CAST(N'2021-08-19T08:56:34.110' AS DateTime), CAST(N'2021-08-19T08:56:34.110' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[LANGUAGES] OFF
GO
SET IDENTITY_INSERT [dbo].[MEASUREMENT_UNITS] ON 

INSERT [dbo].[MEASUREMENT_UNITS] ([ID], [UNIT], [UNIT_DESCRIPTION], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (1, N'Celsius', N'°C', CAST(N'2021-08-11T16:48:55.647' AS DateTime), CAST(N'2021-08-11T16:48:55.647' AS DateTime), 1, 1)
INSERT [dbo].[MEASUREMENT_UNITS] ([ID], [UNIT], [UNIT_DESCRIPTION], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (2, N'Fahrenheit', N'°F', CAST(N'2021-08-11T16:49:11.357' AS DateTime), CAST(N'2021-08-11T16:49:11.357' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[MEASUREMENT_UNITS] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOMS] ON 

INSERT [dbo].[ROOMS] ([ID], [FLOOR_ID], [ROOM_NAME], [DEVICES], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (1, 8, N'Dnevni boravak', 6, CAST(N'2021-08-10T16:33:35.857' AS DateTime), CAST(N'2021-08-10T16:33:35.857' AS DateTime), 1, 1)
INSERT [dbo].[ROOMS] ([ID], [FLOOR_ID], [ROOM_NAME], [DEVICES], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (2, 2, N'Dnevni boravak 2', 6, CAST(N'2021-08-11T09:13:07.830' AS DateTime), CAST(N'2021-08-11T09:13:07.830' AS DateTime), 1, 1)
INSERT [dbo].[ROOMS] ([ID], [FLOOR_ID], [ROOM_NAME], [DEVICES], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (3, 2, N'Dnevni boravak 3', 6, CAST(N'2021-08-11T09:13:26.220' AS DateTime), CAST(N'2021-08-11T09:13:26.220' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[ROOMS] OFF
GO
SET IDENTITY_INSERT [dbo].[TEMPERATURES] ON 

INSERT [dbo].[TEMPERATURES] ([ID], [DEVICE_ID], [MEASUREMENT_UNIT_ID], [IN_TEMPERATURE], [CREATED], [UPDATED]) VALUES (1, 1, 1, CAST(27.63 AS Decimal(5, 2)), CAST(N'2021-08-11T16:57:24.073' AS DateTime), CAST(N'2021-08-11T16:57:24.073' AS DateTime))
INSERT [dbo].[TEMPERATURES] ([ID], [DEVICE_ID], [MEASUREMENT_UNIT_ID], [IN_TEMPERATURE], [CREATED], [UPDATED]) VALUES (2, 1, 1, CAST(27.80 AS Decimal(5, 2)), CAST(N'2021-08-11T17:32:13.200' AS DateTime), CAST(N'2021-08-11T17:32:13.200' AS DateTime))
INSERT [dbo].[TEMPERATURES] ([ID], [DEVICE_ID], [MEASUREMENT_UNIT_ID], [IN_TEMPERATURE], [CREATED], [UPDATED]) VALUES (3, 1, 1, CAST(27.79 AS Decimal(5, 2)), CAST(N'2021-08-11T17:32:18.243' AS DateTime), CAST(N'2021-08-11T17:32:18.243' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TEMPERATURES] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_DEVICES] ON 

INSERT [dbo].[USER_DEVICES] ([ID], [USER_ID], [DEVICE_ID], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (2, 1, 2, CAST(N'2021-08-12T12:03:14.933' AS DateTime), CAST(N'2021-08-12T12:03:14.933' AS DateTime), 1, 1)
INSERT [dbo].[USER_DEVICES] ([ID], [USER_ID], [DEVICE_ID], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (3, 1, 4, CAST(N'2021-08-12T12:06:40.290' AS DateTime), CAST(N'2021-08-12T12:06:40.290' AS DateTime), 1, 1)
INSERT [dbo].[USER_DEVICES] ([ID], [USER_ID], [DEVICE_ID], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (4, 1, 25, CAST(N'2021-08-12T14:37:36.757' AS DateTime), CAST(N'2021-08-12T14:37:36.757' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[USER_DEVICES] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [FIRST_NAME], [LAST_NAME], [GENDER], [USERNAME], [PASSWORD], [EMAIL], [BIRTH_DATE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (1, N'Kristijan', N'Vanja', N'F', N'kvanja', N'test', N'kvanja@vub.hr', CAST(N'1992-11-02' AS Date), CAST(N'2021-08-09T13:38:55.257' AS DateTime), CAST(N'2021-08-09T13:38:55.257' AS DateTime), 1, 1)
INSERT [dbo].[USERS] ([ID], [FIRST_NAME], [LAST_NAME], [GENDER], [USERNAME], [PASSWORD], [EMAIL], [BIRTH_DATE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (6, N'Kristijan1', N'Vanja1', N'M', N'kvanja1', N'test1', N'kvanja1@vub.hr', CAST(N'1992-11-02' AS Date), CAST(N'2021-08-12T13:55:50.007' AS DateTime), CAST(N'2021-08-12T13:55:50.007' AS DateTime), 1, 1)
INSERT [dbo].[USERS] ([ID], [FIRST_NAME], [LAST_NAME], [GENDER], [USERNAME], [PASSWORD], [EMAIL], [BIRTH_DATE], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (7, N'Kristijan2', N'Vanja2', N'M', N'kvanja2', N'test2', N'kvanja2@vub.hr', CAST(N'1992-12-02' AS Date), CAST(N'2021-08-13T10:55:47.587' AS DateTime), CAST(N'2021-08-13T10:55:47.587' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS_SETTINGS] ON 

INSERT [dbo].[USERS_SETTINGS] ([ID], [USER_ID], [LANGUAGE_ID], [THEME_ID], [TEMP_MEASUREMENT_UNIT_ID], [CREATED], [UPDATED], [CREATED_BY], [UPDATED_BY]) VALUES (2, 1, 1, 1, 1, CAST(N'2021-08-19T09:03:09.253' AS DateTime), CAST(N'2021-08-19T09:03:09.253' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[USERS_SETTINGS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EMAIL]    Script Date: 4/25/2022 6:24:31 PM ******/
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [UQ_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BUILDINGS] ADD  CONSTRAINT [DF_BUILDINGS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[BUILDINGS] ADD  CONSTRAINT [DF_BUILDINGS_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[DEVICES] ADD  CONSTRAINT [DF_DEVICES_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[DEVICES] ADD  CONSTRAINT [DF_DEVICES_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[FLOORS] ADD  CONSTRAINT [DF_FLOORS_FLOOR]  DEFAULT ((1)) FOR [FLOOR]
GO
ALTER TABLE [dbo].[FLOORS] ADD  CONSTRAINT [DF_FLOORS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[FLOORS] ADD  CONSTRAINT [DF_FLOORS_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[HEATING_HISTORY] ADD  CONSTRAINT [DF_HEATING_HISTORY_MEASUREMENT_UNIT_ID]  DEFAULT ((0)) FOR [MEASUREMENT_UNIT_ID]
GO
ALTER TABLE [dbo].[HEATING_HISTORY] ADD  CONSTRAINT [DF_HEATING_HISTORY_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[HEATING_HISTORY] ADD  CONSTRAINT [DF_HEATING_HISTORY_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[HEATING_HISTORY] ADD  CONSTRAINT [DF_HEATING_HISTORY_CREATED_BY]  DEFAULT ((1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[HEATING_HISTORY] ADD  CONSTRAINT [DF_HEATING_HISTORY_UPDATED_BY]  DEFAULT ((1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[HUMIDITIES] ADD  CONSTRAINT [DF_HUMIDITIES_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[HUMIDITIES] ADD  CONSTRAINT [DF_HUMIDITIES_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[LANGUAGES] ADD  CONSTRAINT [DF_LANGUAGES_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[LANGUAGES] ADD  CONSTRAINT [DF_LANGUAGES_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[LANGUAGES] ADD  CONSTRAINT [DF_LANGUAGES_CREATED_BY]  DEFAULT ((1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[LANGUAGES] ADD  CONSTRAINT [DF_LANGUAGES_UPDATED_BY]  DEFAULT ((1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[MEASUREMENT_UNITS] ADD  CONSTRAINT [DF_MEASUREMENT_UNITS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[MEASUREMENT_UNITS] ADD  CONSTRAINT [DF_MEASUREMENT_UNITS_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[ROOMS] ADD  CONSTRAINT [DF_ROOMS_DEVICES]  DEFAULT ((0)) FOR [DEVICES]
GO
ALTER TABLE [dbo].[ROOMS] ADD  CONSTRAINT [DF_ROOMS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[ROOMS] ADD  CONSTRAINT [DF_ROOMS_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[TEMPERATURES] ADD  CONSTRAINT [DF_TEMPERATURES_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[TEMPERATURES] ADD  CONSTRAINT [DF_TEMPERATURES_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[TRANSLATIONS] ADD  CONSTRAINT [DF_TRANSLATIONS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[TRANSLATIONS] ADD  CONSTRAINT [DF_TRANSLATIONS_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[USER_DEVICES] ADD  CONSTRAINT [DF_USER_DEVICES_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[USER_DEVICES] ADD  CONSTRAINT [DF_USER_DEVICES_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[USER_DEVICES] ADD  CONSTRAINT [DF_USER_DEVICES_CREATED_BY]  DEFAULT ((1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[USER_DEVICES] ADD  CONSTRAINT [DF_USER_DEVICES_UPDATED_BY]  DEFAULT ((1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_SEX]  DEFAULT ((0)) FOR [GENDER]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[USERS_SETTINGS] ADD  CONSTRAINT [DF_USERS_SETTINGS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[USERS_SETTINGS] ADD  CONSTRAINT [DF_USERS_SETTINGS_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[USERS_SETTINGS] ADD  CONSTRAINT [DF_USERS_SETTINGS_CREATED_BY]  DEFAULT ((1)) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[USERS_SETTINGS] ADD  CONSTRAINT [DF_USERS_SETTINGS_UPDATED_BY]  DEFAULT ((1)) FOR [UPDATED_BY]
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS] ADD  CONSTRAINT [DF_WEEKLY_INTERVALS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS] ADD  CONSTRAINT [DF_WEEKLY_INTERVALS_UPDATED]  DEFAULT (getdate()) FOR [UPDATED]
GO
ALTER TABLE [dbo].[BUILDINGS]  WITH CHECK ADD  CONSTRAINT [FK_BUILDINGS_CREATED_BY_USER_ID] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[BUILDINGS] CHECK CONSTRAINT [FK_BUILDINGS_CREATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[BUILDINGS]  WITH CHECK ADD  CONSTRAINT [FK_BUILDINGS_UPDATED_BY_USER_ID] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[BUILDINGS] CHECK CONSTRAINT [FK_BUILDINGS_UPDATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[DEVICES]  WITH CHECK ADD  CONSTRAINT [FK_DEVICES_CREATED_BY_USER_ID] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[DEVICES] CHECK CONSTRAINT [FK_DEVICES_CREATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[DEVICES]  WITH CHECK ADD  CONSTRAINT [FK_DEVICES_ROOM_ID] FOREIGN KEY([ROOM_ID])
REFERENCES [dbo].[ROOMS] ([ID])
GO
ALTER TABLE [dbo].[DEVICES] CHECK CONSTRAINT [FK_DEVICES_ROOM_ID]
GO
ALTER TABLE [dbo].[DEVICES]  WITH CHECK ADD  CONSTRAINT [FK_DEVICES_UPDATED_BY_USER_ID] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[DEVICES] CHECK CONSTRAINT [FK_DEVICES_UPDATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[FLOORS]  WITH CHECK ADD  CONSTRAINT [FK_FLOORS_CREATED_BY_USER_ID] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[FLOORS] CHECK CONSTRAINT [FK_FLOORS_CREATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[FLOORS]  WITH CHECK ADD  CONSTRAINT [FK_FLOORS_UPDATED_BY_USER_ID] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[FLOORS] CHECK CONSTRAINT [FK_FLOORS_UPDATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[FLOORS]  WITH CHECK ADD  CONSTRAINT [FK_FLORS_BUILDING_ID] FOREIGN KEY([BUILDING_ID])
REFERENCES [dbo].[BUILDINGS] ([ID])
GO
ALTER TABLE [dbo].[FLOORS] CHECK CONSTRAINT [FK_FLORS_BUILDING_ID]
GO
ALTER TABLE [dbo].[HEATING_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_HEATING_HISTORY_CREATED_BY_USER_ID] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[HEATING_HISTORY] CHECK CONSTRAINT [FK_HEATING_HISTORY_CREATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[HEATING_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_HEATING_HISTORY_DEVICE_ID] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[DEVICES] ([ID])
GO
ALTER TABLE [dbo].[HEATING_HISTORY] CHECK CONSTRAINT [FK_HEATING_HISTORY_DEVICE_ID]
GO
ALTER TABLE [dbo].[HEATING_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_HEATING_HISTORY_MEASUREMENT_UNIT_ID] FOREIGN KEY([MEASUREMENT_UNIT_ID])
REFERENCES [dbo].[MEASUREMENT_UNITS] ([ID])
GO
ALTER TABLE [dbo].[HEATING_HISTORY] CHECK CONSTRAINT [FK_HEATING_HISTORY_MEASUREMENT_UNIT_ID]
GO
ALTER TABLE [dbo].[HEATING_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_HEATING_HISTORY_UPDATED_BY_USER_ID] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[HEATING_HISTORY] CHECK CONSTRAINT [FK_HEATING_HISTORY_UPDATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[HEATING_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_HEATING_HISTORY_USER_ID] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[HEATING_HISTORY] CHECK CONSTRAINT [FK_HEATING_HISTORY_USER_ID]
GO
ALTER TABLE [dbo].[HUMIDITIES]  WITH CHECK ADD  CONSTRAINT [FK_HUMIDITY_DEVICES] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[DEVICES] ([ID])
GO
ALTER TABLE [dbo].[HUMIDITIES] CHECK CONSTRAINT [FK_HUMIDITY_DEVICES]
GO
ALTER TABLE [dbo].[MEASUREMENT_UNITS]  WITH CHECK ADD  CONSTRAINT [FK_MEASUREMENT_UNITS_CREATED_BY_USER_ID] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[MEASUREMENT_UNITS] CHECK CONSTRAINT [FK_MEASUREMENT_UNITS_CREATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[MEASUREMENT_UNITS]  WITH CHECK ADD  CONSTRAINT [FK_MEASUREMENT_UNITS_UPDATED_BY_USER_ID] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[MEASUREMENT_UNITS] CHECK CONSTRAINT [FK_MEASUREMENT_UNITS_UPDATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[ROOMS]  WITH CHECK ADD  CONSTRAINT [FK_ROOMS_CREATED_BY_USER_ID] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[ROOMS] CHECK CONSTRAINT [FK_ROOMS_CREATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[ROOMS]  WITH CHECK ADD  CONSTRAINT [FK_ROOMS_FLOORS] FOREIGN KEY([FLOOR_ID])
REFERENCES [dbo].[FLOORS] ([ID])
GO
ALTER TABLE [dbo].[ROOMS] CHECK CONSTRAINT [FK_ROOMS_FLOORS]
GO
ALTER TABLE [dbo].[ROOMS]  WITH CHECK ADD  CONSTRAINT [FK_ROOMS_USERS] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[ROOMS] CHECK CONSTRAINT [FK_ROOMS_USERS]
GO
ALTER TABLE [dbo].[TEMPERATURES]  WITH CHECK ADD  CONSTRAINT [FK_TEMPERATURES_DEVICE_ID] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[DEVICES] ([ID])
GO
ALTER TABLE [dbo].[TEMPERATURES] CHECK CONSTRAINT [FK_TEMPERATURES_DEVICE_ID]
GO
ALTER TABLE [dbo].[TEMPERATURES]  WITH CHECK ADD  CONSTRAINT [FK_TEMPERATURES_MEASUREMENT_UNIT_ID] FOREIGN KEY([MEASUREMENT_UNIT_ID])
REFERENCES [dbo].[MEASUREMENT_UNITS] ([ID])
GO
ALTER TABLE [dbo].[TEMPERATURES] CHECK CONSTRAINT [FK_TEMPERATURES_MEASUREMENT_UNIT_ID]
GO
ALTER TABLE [dbo].[USERS_SETTINGS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_SETTINGS_CREATED_BY_USER_ID] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[USERS_SETTINGS] CHECK CONSTRAINT [FK_USERS_SETTINGS_CREATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[USERS_SETTINGS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_SETTINGS_USERS] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[USERS_SETTINGS] CHECK CONSTRAINT [FK_USERS_SETTINGS_USERS]
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS]  WITH CHECK ADD  CONSTRAINT [FK_WEEKLY_INTERVALS_CREATED_BY_USER_ID] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS] CHECK CONSTRAINT [FK_WEEKLY_INTERVALS_CREATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS]  WITH CHECK ADD  CONSTRAINT [FK_WEEKLY_INTERVALS_DEVICE_ID] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[DEVICES] ([ID])
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS] CHECK CONSTRAINT [FK_WEEKLY_INTERVALS_DEVICE_ID]
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS]  WITH CHECK ADD  CONSTRAINT [FK_WEEKLY_INTERVALS_UPDATED_BY_USER_ID] FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS] CHECK CONSTRAINT [FK_WEEKLY_INTERVALS_UPDATED_BY_USER_ID]
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS]  WITH CHECK ADD  CONSTRAINT [FK_WEEKLY_INTERVALS_USER_ID] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[WEEKLY_INTERVALS] CHECK CONSTRAINT [FK_WEEKLY_INTERVALS_USER_ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that updated the device' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DEVICES', @level2type=N'CONSTRAINT',@level2name=N'FK_DEVICES_CREATED_BY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of room in which device is' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DEVICES', @level2type=N'CONSTRAINT',@level2name=N'FK_DEVICES_ROOM_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that updated device' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DEVICES', @level2type=N'CONSTRAINT',@level2name=N'FK_DEVICES_UPDATED_BY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that created data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HEATING_HISTORY', @level2type=N'CONSTRAINT',@level2name=N'FK_HEATING_HISTORY_CREATED_BY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of the device that turned on the heating' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HEATING_HISTORY', @level2type=N'CONSTRAINT',@level2name=N'FK_HEATING_HISTORY_DEVICE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of measurement unit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HEATING_HISTORY', @level2type=N'CONSTRAINT',@level2name=N'FK_HEATING_HISTORY_MEASUREMENT_UNIT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that turned on the heating' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HEATING_HISTORY', @level2type=N'CONSTRAINT',@level2name=N'FK_HEATING_HISTORY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of device that read humidity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HUMIDITIES', @level2type=N'CONSTRAINT',@level2name=N'FK_HUMIDITY_DEVICES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that created unit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MEASUREMENT_UNITS', @level2type=N'CONSTRAINT',@level2name=N'FK_MEASUREMENT_UNITS_CREATED_BY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that updated measurement unit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MEASUREMENT_UNITS', @level2type=N'CONSTRAINT',@level2name=N'FK_MEASUREMENT_UNITS_UPDATED_BY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that created the data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ROOMS', @level2type=N'CONSTRAINT',@level2name=N'FK_ROOMS_FLOORS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that updated the data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ROOMS', @level2type=N'CONSTRAINT',@level2name=N'FK_ROOMS_USERS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of the device that read the temperature' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TEMPERATURES', @level2type=N'CONSTRAINT',@level2name=N'FK_TEMPERATURES_DEVICE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of measurement unit in which temeperature was measured' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TEMPERATURES', @level2type=N'CONSTRAINT',@level2name=N'FK_TEMPERATURES_MEASUREMENT_UNIT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique user email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USERS', @level2type=N'CONSTRAINT',@level2name=N'UQ_EMAIL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Users data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USERS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that created the data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USERS_SETTINGS', @level2type=N'CONSTRAINT',@level2name=N'FK_USERS_SETTINGS_CREATED_BY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that updated  the data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USERS_SETTINGS', @level2type=N'CONSTRAINT',@level2name=N'FK_USERS_SETTINGS_USERS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that created the data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WEEKLY_INTERVALS', @level2type=N'CONSTRAINT',@level2name=N'FK_WEEKLY_INTERVALS_CREATED_BY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of the device interval is set on' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WEEKLY_INTERVALS', @level2type=N'CONSTRAINT',@level2name=N'FK_WEEKLY_INTERVALS_DEVICE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID of user that updated the data' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WEEKLY_INTERVALS', @level2type=N'CONSTRAINT',@level2name=N'FK_WEEKLY_INTERVALS_UPDATED_BY_USER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of user that set the interval' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WEEKLY_INTERVALS', @level2type=N'CONSTRAINT',@level2name=N'FK_WEEKLY_INTERVALS_USER_ID'
GO
USE [master]
GO
